<div id="upcoming">

<h3>Hack Fargo Mobile</h3>

    <div style="width:100%; text-align:left;" >
        <iframe src="http://www.eventbrite.com/tickets-external?eid=13609926657&ref=etckt&v=2" frameborder="0" height="256" width="100%" vspace="0" hspace="0" marginheight="5" marginwidth="5" scrolling="auto" allowtransparency="true"></iframe>
    </div>

    <p> Join us December 3rd for Hack Fargo, sponsored by AT&T. The focus of
    this Hackathon is mobile. Prior to the start of the event, several APIs
    will be published for use. The goal of the hackathon is to build an app,
    website, prototype, etc. using any number of the APIs and/or datasets
    listed below (or any others that you may find). The challenge is doing this
    in only four hours! Use as many tools at your disposal to get as far as
    possible by the end of the event. Specific APIs for this hackathon will be
    published one week in advance.  </p>

    <p>Host / Facilitator: Blaine Booher</p>

    <h3>Sponsored by AT&amp;T</h3>

    <h3>Additional Sponsors</h3>
    <p>
    Emerging Prairie,
    Myriad Mobile,
    Clifton Labs,
    Today Made,
    Arthur Ventures,
    Sycorr,
    Hack Fargo,
    The Title Company,
    Minnesota State University Moorhead (MSUM),
    MSUM College of Business and Industry,
    Sundog,
    Evolution 1
    </p>

<div><!-- /#mobile-hackathon-event -->
