<div id="who-are-we" class="description-box">

<h2>Who are we</h2>

<p> We are a group of concerned community members
in love with the idea of improving the way we
interact with our government. We are developers,
designers and social entrepreneurs brought
together by the beauty of Startup Weekend Fargo
2014. We launched our organization by creating
a single application programming interface that
unleashes the potential of one of the many
datasets to awesome tools and analytics. </p>

</div><!-- /why-hack-fargo -->
