@import "basics.less";
@import "mixins.less";
@import "bariol.less";
@import "colors.less";


body {
  background-color: @content-background-color;
  font-size: 16px;
}


#container {
  padding: 1em;
  margin: 0 auto;

  width: 768px;
}



// Splash
#splash {
  text-align: center;
  margin: 0 auto;
  padding-top: 2em;

  #mainlogo {
    padding-top: 10em;
    font-family: @bariol-family;

    background-image: url("/assets/img/LargeHandIcon.svg"); 
    background-position: top center;
    background-repeat: no-repeat;

    h1 {
      padding-top: 1.6em;
      text-transform: uppercase;
    span {
      display: block;
      clear: both;
        padding: 0;
        margin: 0;
    }
      #logo-hack {
        font-weight: 900;
        font-size: 3em;
        }
      #logo-fargo {
        font-weight: 300;
        font-size: 2.4em;
        }
    }
    h2 {
      display: none;
      
    }
  }
}



// Menu
ul:not(.examples) {
  margin: 4em auto 0 auto;
  text-align: center;
  padding: 0;

  li {
    text-align: center;
    width: 120px;
    text-decoration: none;
    display: inline;

    font-family: @bariol-family;
    font-size: 0.8em;
    text-transform: uppercase;
    font-weight: bold;


    margin: 0;
    // left: -2px;

    color: @text-primary-color;

    a {
    padding: 5px;
    padding-top: 8px;

      color: @text-primary-color;
      background-color: inherit;
      text-decoration: none;
      display: inline-block;

      &:hover {
      .rounded(5px);
      background-color: @text-primary-color;
      color: @body-background-color;
      }
      &:active {
      color: lighten(@body-background-color, 10%);
      }
    }
  }
}


#container {
  font-family: @bariol-family;
  p {
    font-size: 1em;
  }
  h2,h3 {
    text-align: center;
  }
  h2 {
    font-size: 2em;
    font-weight: 700;
  }
  h3 {
    font-size: 1.8em;
    font-weight: 400;;
  }
}

.description-box {
  padding-top: 3em;
  text-align: center;

  h2 {
    text-align: center;
    text-transform:uppercase;
  }
  p {
    font-size: 1.5em;
    line-height: 1.6em;
    font-weight: 400;
    text-align: left;
    width: 80%;
    padding-bottom: 2em;
    // border-bottom: 1px dotted darken(@body-background-color, 50%);

  }

}
#what-is-hack-fargo {
  padding-top: 2em;
  text-align: center;
  p {
    margin: 0 auto;
    width: 90%;
    font-weight: 200;
    // font-style: italic;
    font-size: 2em;
  }
}

#why-hack-fargo {
  text-align: center;
  p {
    margin: 0 auto;
    font-size: 1.2em;
  }

}


#who-are-we {
  text-align: center;
  p {
    margin: 0 auto;
    font-size: 1.2em;
  }

}


// Mailing List
.mailinglist {
  margin-top: 30px;
  margin: 30px auto;
  width: 375px;


  input[type=email] {
    text-align:center;
    // .border-radius(4px, 0, 0, 4px);
    padding-left: 1em;
    width:375px;
    display:block;
    border: 1px solid #999;
    height: 35px;
    padding-top: 1.2em;
    padding-bottom: 1.2em;
    background-color: none;
    // border-bottom: 1px dashed yellow;
  }

  input[type=submit] {
    width:375px;
    display:block;
    // display: none;
    // border: 2px solid yellow;
      padding: 1em;
      padding-top: 0;
    // position: absolute; left: -9999px; width: 1px; height: 1px;
    // .border-radius(@topright: 0, @bottomright: 0, @bottomleft: 0, @topleft: 0) {
    // .border-radius(0, 4px, 4px, 0);
    }
}

#credits {
  font-size: 1em;

  p {
    margin: 0 auto;
    width: 60%;
    margin-top: 1em;
  border-top: 1px solid darken(@body-background-color, 5%);
  padding-top: 1em;
    text-align: center;
  }

}


// Regular Styles


// Neon Splash
#neon-splash {
  text-align: center;
  margin: 0 auto;
  padding-top: 2em;

  #mainlogo {
    height: 200px;
    padding-top: 10em;
    font-family: @bariol-family;

    // background-image: url("/assets/img/SmallHackFargoNeon.png"); 
    background-image: url("/assets/img/HFLogo.png"); 
    background-position: top center;
    background-repeat: no-repeat;

    h1 {
      display: none;
      padding-top: 1.6em;
      text-transform: uppercase;
    span {
      display: block;
      clear: both;
        padding: 0;
        margin: 0;
    }
      #logo-hack {
        font-weight: 900;
        font-size: 3em;
        }
      #logo-fargo {
        font-weight: 300;
        font-size: 2.4em;
        }
    }
    h2 {
      display: none;
      
    }
  }
}


#content {

  margin: 2em 0;
  // border-top: 1px solid darken(@body-background-color, 10%);

  h1, h2, h3 {
    text-align: center;
  }

  h1 {
    padding-top: 1.8em;
    font-size: 1.8em;
  }

  h2 { 
    padding-bottom: 0.3em;
    padding-top: 1.5em;
    font-size: 1.5em;
  }
  h3 {
    padding-bottom: 0.3em;
    padding-top: 1.2em;
    font-size: 1.2em;
    font-weight: bold;
  }
}


// Hackathon Registration 
#hackathon-update {
  background-color: darken(@content-background-color, 50%);
  color: @content-background-color;
  font-size: 1.4em;
  text-align: center;
  
  width: 450px;
  margin: 2em auto 1em auto;
  padding: 1em;
}
