---
layout: default
title: Hack Fargo!
---

  {% include neon-splash.html %}
  {% include menubar.html %}


<div id="content">
  <h1>Examples</h1>
  <ul class='examples'>
    <li><a href="/examples/heatmap.html">Heatmap of dispatch calls for parties in Fargo</a></li>
    <li><a href="/peepers/">Locations of peeping reports in Fargo/</a></li>
    <li><a href="/examples/partyFinder/">Party Roulette</a> - May only work in newer web browser</li>
    <li><a href="/examples/3dHeatmap/">3D Heatmap</a> - Red dots are loud parties and Green dots are cat related dispatches</li>
  </ul>
  
</div>

  {% include credits.html %}
